.session-scan-top-center-ui-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2147483645;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    pointer-events: all;
}
